@-ms-viewport {
   user-zoom: fixed
}

@-o-viewport {
   user-zoom: fixed
}

@viewport {
   user-zoom: fixed
}

* {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
   box-sizing: border-box;
   font-style: normal;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none
}

body,
html {
   position: relative
}

body {
   min-height: 100vh;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   -webkit-flex-direction: column;
   flex-direction: column;
   overflow-x: hidden;
   color: #1B1B1B;
   font: 16px "Acrom", sans-serif;
   line-height: 120%;
   background: #fff;
}

body.locked {
   overflow: hidden;
}

:focus-visible {
   outline: 0
}

.container {
   max-width: 1200px;
   margin: 0 auto
}

.select-js-tab {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 0;
}

.select-js-tab.open {
   position: static;
   overflow: visible;
   height: auto;
}

section {
   overflow-x: hidden;
   padding: 75px 0;
}

a {
   color: #1B1B1B;
   text-decoration: none
}

img {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none
}

button,
input {
   background-color: unset;
   border: 0
}

button {
   cursor: pointer
}

textarea {
   resize: none;
}

.h1 {
   font-size: 42px;
   font-style: normal;
   font-weight: 500;
   line-height: 105%;
   letter-spacing: -1.26px;
}

.h2 {
   font-size: 40px;
   font-style: normal;
   font-weight: 500;
   line-height: 115%;
   letter-spacing: -1.2px;
}

.h3 {
   font-size: 36px;
   font-style: normal;
   font-weight: 500;
   line-height: 115%;
   letter-spacing: -1.08px;
}

.h4 {
   font-size: 30px;
   font-style: normal;
   font-weight: 500;
   line-height: 105%;
}

.h5 {
   font-family: "Raleway", sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: 120%;
}

.h6 {
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 105%;
   letter-spacing: -0.6px;
}

.h1 strong,
.h2 strong,
.h3 strong,
.h4 strong,
.h5 strong {
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.input {
   -webkit-border-radius: 30px;
   border-radius: 30px;
   background: #FFF;
   width: 100%;
   padding: 24px 32px 23px 51px;
   color: #828282;
   text-align: center;
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 120%;
   letter-spacing: 0.48px;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(77, 77, 77, 0.05) inset, 0px 1px 3px 0px rgba(77, 77, 77, 0.05) inset, 0px 5px 5px 0px rgba(77, 77, 77, 0.04) inset, 0px 12px 7px 0px rgba(77, 77, 77, 0.03) inset, 0px 22px 9px 0px rgba(77, 77, 77, 0.01) inset, 0px 34px 10px 0px rgba(77, 77, 77, 0.00) inset;
   box-shadow: 0px 0px 0px 0px rgba(77, 77, 77, 0.05) inset, 0px 1px 3px 0px rgba(77, 77, 77, 0.05) inset, 0px 5px 5px 0px rgba(77, 77, 77, 0.04) inset, 0px 12px 7px 0px rgba(77, 77, 77, 0.03) inset, 0px 22px 9px 0px rgba(77, 77, 77, 0.01) inset, 0px 34px 10px 0px rgba(77, 77, 77, 0.00) inset;
}

.input:hover {
   -webkit-box-shadow: none;
   box-shadow: none;
   color: #1B1B1B;
}

.input:focus {
   -webkit-box-shadow: 0px 0px 0px 0px rgba(77, 77, 77, 0.05) inset, 0px 1px 3px 0px rgba(77, 77, 77, 0.05) inset, 0px 5px 5px 0px rgba(77, 77, 77, 0.04) inset, 0px 12px 7px 0px rgba(77, 77, 77, 0.03) inset, 0px 22px 9px 0px rgba(77, 77, 77, 0.01) inset, 0px 34px 10px 0px rgba(77, 77, 77, 0.00) inset;
   box-shadow: 0px 0px 0px 0px rgba(77, 77, 77, 0.05) inset, 0px 1px 3px 0px rgba(77, 77, 77, 0.05) inset, 0px 5px 5px 0px rgba(77, 77, 77, 0.04) inset, 0px 12px 7px 0px rgba(77, 77, 77, 0.03) inset, 0px 22px 9px 0px rgba(77, 77, 77, 0.01) inset, 0px 34px 10px 0px rgba(77, 77, 77, 0.00) inset;
}

.input:-ms-input-placeholder {
   color: #1B1B1B;
}

.input::-webkit-input-placeholder {
   color: #1B1B1B;
}

.input::-moz-placeholder {
   color: #1B1B1B;
}

.input::-ms-input-placeholder {
   color: #1B1B1B;
}

.input::placeholder {
   color: #1B1B1B;
}

.input.disabled,
.input.disabled:hover,
.input.disabled:focus {
   color: #E0E0E0;
   pointer-events: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(77, 77, 77, 0.05) inset, 0px 1px 3px 0px rgba(77, 77, 77, 0.05) inset, 0px 5px 5px 0px rgba(77, 77, 77, 0.04) inset, 0px 12px 7px 0px rgba(77, 77, 77, 0.03) inset, 0px 22px 9px 0px rgba(77, 77, 77, 0.01) inset, 0px 34px 10px 0px rgba(77, 77, 77, 0.00) inset;
   box-shadow: 0px 0px 0px 0px rgba(77, 77, 77, 0.05) inset, 0px 1px 3px 0px rgba(77, 77, 77, 0.05) inset, 0px 5px 5px 0px rgba(77, 77, 77, 0.04) inset, 0px 12px 7px 0px rgba(77, 77, 77, 0.03) inset, 0px 22px 9px 0px rgba(77, 77, 77, 0.01) inset, 0px 34px 10px 0px rgba(77, 77, 77, 0.00) inset;
}

.btn {
   font-family: "Acrom", sans-serif;
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   color: #FFF;
   text-align: center;
   text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.28px;
   text-transform: uppercase;
   padding: 25px 30px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
}

.btn img,
.btn svg {
   margin-left: 14px;
}

.btn::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: -2;
   background: -o-linear-gradient(top, #608E31 0%, #8DCA50 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#608E31), to(#8DCA50));
   background: linear-gradient(180deg, #608E31 0%, #8DCA50 100%);
   opacity: 0;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.btn::after {
   z-index: -1;
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: url(../img/btn-dark-bg.webp) center center / auto no-repeat;
}

.btn:hover::before {
   opacity: 1;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.btn:active::before {
   background: #80B54B;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(3, 9, 1, 0.10) inset, 0px 4px 9px 0px rgba(3, 9, 1, 0.10) inset, 0px 17px 17px 0px rgba(3, 9, 1, 0.09) inset, 0px 38px 23px 0px rgba(3, 9, 1, 0.05) inset, 0px 68px 27px 0px rgba(3, 9, 1, 0.01) inset, 0px 107px 30px 0px rgba(3, 9, 1, 0.00) inset;
   box-shadow: 0px 0px 0px 0px rgba(3, 9, 1, 0.10) inset, 0px 4px 9px 0px rgba(3, 9, 1, 0.10) inset, 0px 17px 17px 0px rgba(3, 9, 1, 0.09) inset, 0px 38px 23px 0px rgba(3, 9, 1, 0.05) inset, 0px 68px 27px 0px rgba(3, 9, 1, 0.01) inset, 0px 107px 30px 0px rgba(3, 9, 1, 0.00) inset;
   -webkit-transition: none;
   -o-transition: none;
   transition: none;
}

.btn-outline {
   background: rgba(255, 255, 255, 0.00);
   color: #608E31;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.btn-outline::after {
   background: url(../img/btn-light-bg.webp) center center / auto no-repeat;
}

.btn-outline::before {
   display: none;
}

.btn-outline:hover {
   background: #fff;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00);
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00);
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.btn-outline:active {
   background: #fff;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.05) inset, 0px 5px 5px 0px rgba(0, 0, 0, 0.04) inset, 0px 12px 7px 0px rgba(0, 0, 0, 0.03) inset, 0px 21px 9px 0px rgba(0, 0, 0, 0.01) inset, 0px 34px 9px 0px rgba(0, 0, 0, 0.00) inset;
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 3px 0px rgba(0, 0, 0, 0.05) inset, 0px 5px 5px 0px rgba(0, 0, 0, 0.04) inset, 0px 12px 7px 0px rgba(0, 0, 0, 0.03) inset, 0px 21px 9px 0px rgba(0, 0, 0, 0.01) inset, 0px 34px 9px 0px rgba(0, 0, 0, 0.00) inset;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.select {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: -o-linear-gradient(top, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#E4E5EA), color-stop(52.40%, #EFEFF4), to(#DDDFEA));
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   -webkit-box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.05);
   box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.05);
   padding: 10px 12px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
}

.select__item {
   -webkit-border-radius: 5px;
   border-radius: 5px;
   padding: 10px;
   margin-right: 55px;
   cursor: pointer;
   position: relative;
}

.select__item::after {
   content: '';
   position: absolute;
   top: 0;
   -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
   right: -70px;
   width: 40px;
   height: 38px;
   background: url(../img/tab-sep.png) center center / 100% 100% no-repeat;
}

.select__item:last-child {
   margin-right: 0;
   padding: 0;
}

.select__item:last-child::after {
   display: none;
}

.select__item.active {
   background: #fff;
   text-shadow: 0px 1px 2px rgba(63, 97, 104, 0.40);
   font-weight: 500;
}

.swiper-arrow {
   border-radius: 5px;
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   cursor: pointer;
   height: 40px;
   position: absolute;
}

.swiper-arrow.swiper-button-disabled {
   background: #F8F8F8;
}

.swiper-arrow.swiper-button-disabled img {
   filter: invert(52%) sepia(5%) saturate(0%) hue-rotate(150deg) brightness(97%) contrast(80%);
}

.swiper-prev img {
   transform: rotate(180deg);
}

.flex-col {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}

.flex-row {
   display: flex;
}

.flex-wrap {
   display: flex;
   flex-wrap: wrap;
}

/* navbar */
.navbar {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   padding-top: 27px;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
   z-index: 999;
}

.navbar.fixed {
   padding-top: 15px;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.navbar.fixed .nav {
   background: #fff;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.navbar .container {
   max-width: 1236px;
}

.nav {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-border-radius: 40px;
   border-radius: 40px;
   padding: 6px 18px;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.nav__logo {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.nav__menu {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   width: 100%;
   -webkit-box-pack: end;
   -webkit-justify-content: flex-end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}

.nav__list {
   list-style: none;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0 auto;
}

.nav__list li {
   font-family: "Raleway", sans-serif;
   margin-right: 30px;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.nav__list li a {
   font-family: "Raleway", sans-serif;
}

.nav__list li:last-child {
   margin-right: 0;
}

.nav__list li.active,
.nav__list li.active a {
   border-bottom: 1px solid #608E31;
}

.nav__list li.active,
.nav__list li:hover,
.nav__list li.active a,
.nav__list li:hover a {
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: 0px 1px 1px #608E31;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.burger {
   display: none;
   position: relative;
   z-index: 100;
   min-width: 44px;
   max-width: 44px;
   width: 100%;
   height: 44px;
   cursor: pointer;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   border-style: solid;
   border-width: 1px;
   overflow: hidden;
   border-color: #ffffff00;
   overflow: hidden;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
   background: #f5f5f5;
   -webkit-box-shadow: 0px 0px 0px 0px rgba(64, 64, 64, 0.15), 0px 1px 2px 0px rgba(64, 64, 64, 0.15), 0px 23px 7px 0px rgba(64, 64, 64, 0.00);
   box-shadow: 0px 0px 0px 0px rgba(64, 64, 64, 0.15), 0px 1px 2px 0px rgba(64, 64, 64, 0.15), 0px 23px 7px 0px rgba(64, 64, 64, 0.00);
}

.burger::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 6px 4px 0px rgba(0, 0, 0, 0.05), 0px 11px 4px 0px rgba(0, 0, 0, 0.01), 0px 17px 5px 0px rgba(0, 0, 0, 0.00);
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 6px 4px 0px rgba(0, 0, 0, 0.05), 0px 11px 4px 0px rgba(0, 0, 0, 0.01), 0px 17px 5px 0px rgba(0, 0, 0, 0.00);
   z-index: -1;
   opacity: 0;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.burger span {
   content: '';
   position: absolute;
   width: 19px;
   height: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   left: 50%;
   -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
   background: -o-linear-gradient(top, #608E31 0%, #8DCA50 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#608E31), to(#8DCA50));
   background: linear-gradient(180deg, #608E31 0%, #8DCA50 100%);
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.burger span:first-child {
   top: 15px;
}

.burger span:nth-child(2) {
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.burger span:last-child {
   bottom: 15px;
}

.burger.active {
   -webkit-box-shadow: none;
   box-shadow: none;
}

.burger.active span:nth-child(2) {
   -webkit-transform: translate(-50%, -50%) scale(0);
   -ms-transform: translate(-50%, -50%) scale(0);
   transform: translate(-50%, -50%) scale(0);
}

.burger.active span:first-child {
   top: 47.6%;
   -webkit-transform: translate(-50%, -50%) rotate(45deg);
   -ms-transform: translate(-50%, -50%) rotate(45deg);
   transform: translate(-50%, -50%) rotate(45deg);
}

.burger.active span:last-child {
   bottom: 47.6%;
   -webkit-transform: translate(-50%, -50%) rotate(-45deg);
   -ms-transform: translate(-50%, -50%) rotate(-45deg);
   transform: translate(-50%, -50%) rotate(-45deg);
}

.burger:hover::before,
.burger:active::before {
   opacity: 1;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

.burger:hover span {
   background: #fff;
}

.burger:active::before {
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.20) inset, 0px 3px 3px 0px rgba(0, 0, 0, 0.17) inset, 0px 6px 4px 0px rgba(0, 0, 0, 0.10) inset, 0px 11px 4px 0px rgba(0, 0, 0, 0.03) inset, 0px 17px 5px 0px rgba(0, 0, 0, 0.00) inset;
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.20) inset, 0px 3px 3px 0px rgba(0, 0, 0, 0.17) inset, 0px 6px 4px 0px rgba(0, 0, 0, 0.10) inset, 0px 11px 4px 0px rgba(0, 0, 0, 0.03) inset, 0px 17px 5px 0px rgba(0, 0, 0, 0.00) inset;
}

.nav__phone {
   margin-right: 20px;
   margin-left: auto;
   max-width: 44px;
   min-width: 44px;
   width: 100%;
   display: none;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   height: 44px;
}

/* hero */
.section__hero {
   overflow: unset;
   padding: 217px 0 182px;
}

.section__hero::before {
   content: '';
   z-index: -1;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   width: 100%;
   height: 840px;
   background: url(../img/hero-bg.webp) top center/ 100% 100% no-repeat;
}

.hero {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
   position: relative;
   z-index: 0;
}

.hero__content {
   max-width: 720px;
   width: 100%;
}

.hero__block {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 30px;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
}

.hero__block-icon {
   max-width: 33px;
   min-width: 33px;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 100%;
   margin-right: 10px;
   height: 33px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 8px 5px 0px rgba(0, 0, 0, 0.05), 0px 15px 6px 0px rgba(0, 0, 0, 0.01), 0px 23px 7px 0px rgba(0, 0, 0, 0.00);
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 8px 5px 0px rgba(0, 0, 0, 0.05), 0px 15px 6px 0px rgba(0, 0, 0, 0.01), 0px 23px 7px 0px rgba(0, 0, 0, 0.00);
}

.hero__title {
   margin-bottom: 30px;
}

.hero__title br {
   display: none;
}

.hero__container {
   -webkit-border-radius: 60px;
   border-radius: 60px;
   border: 2px solid #FFF;
   background: rgba(255, 255, 255, 0.40);
   padding: 13px 25px 13px 13px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.05);
   box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.05);
   max-width: 619px;
   width: 100%;
   margin-top: 40px;
   margin-left: -13px;
   font-family: "Raleway", sans-serif;
}

.hero__container .btn {
   min-width: 379px;
   margin-right: 15px;
}

.hero__img {
   position: absolute;
   bottom: -180px;
   z-index: -1;
   right: -60px;
}

/* features */
.section__features {
   padding: 30px 0 63px;
}

.features {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   position: relative;
   right: -10px;
   left: -10px;
   width: -webkit-calc(100% + 20px);
   width: calc(100% + 20px);
}

.features__item {
   padding: 10px;
   width: auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
}

.features__item1 {
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 260px;
   -ms-flex: 0 1 260px;
   flex: 0 1 260px;
}

.features__item2 {
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 287px;
   -ms-flex: 0 1 287px;
   flex: 0 1 287px;
}

.features__item3 {
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 220px;
   -ms-flex: 0 1 220px;
   flex: 0 1 220px;
}

.features__item4 {
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 220px;
   -ms-flex: 0 1 220px;
   flex: 0 1 220px;
}

.features__item img {
   -webkit-border-radius: 50px;
   border-radius: 50px;
   border: 2px solid #FFF;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
   box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
   width: 90px;
   -o-object-fit: contain;
   object-fit: contain;
   -o-object-position: center bottom;
   object-position: center bottom;
   height: 90px;
   margin-bottom: 20px;
}

.features__item p,
.features__item div,
.features__item span {
   font-family: "Raleway", sans-serif;
}

.features__item-title {
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 15px;
}

.features__item a {
   text-decoration: underline;
}

/* solution */
.solution {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.solution__title {
   text-align: center;
   margin-bottom: 40px;
}

.solution__items {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-left: 24px;
   margin-bottom: 8px;
}

.solution__item {
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   position: relative;
   padding: 40px 37px 0;
   color: #fff;
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 384px;
   -ms-flex: 0 1 384px;
   flex: 0 1 384px;
   margin-right: 24px;
   margin-bottom: 24px;
}

.solution__item:nth-child(2n+2)::before {
   content: '';
   width: 56px;
   height: 56px;
   position: absolute;
   left: -12px;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background: url(../img/item-decor.svg) center center / 100% 100% no-repeat;
}

.solution__item-title {
   margin-bottom: 20px;
}

.solution__item1 {
   background: url(../img/solution-bg1.svg) right bottom / auto no-repeat, -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: url(../img/solution-bg1.svg) right bottom / auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: url(../img/solution-bg1.svg) right bottom / auto no-repeat, linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
}

.solution__item2 {
   background: url(../img/solution-bg2.svg) right bottom / auto no-repeat, -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: url(../img/solution-bg2.svg) right bottom / auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: url(../img/solution-bg2.svg) right bottom / auto no-repeat, linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
}

.solution__item picture {
   height: 181px;
   margin-top: auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: end;
   -webkit-align-items: flex-end;
   -ms-flex-align: end;
   align-items: flex-end;
}

.solution__item img {
   -o-object-fit: contain;
   object-fit: contain;
   -o-object-position: center bottom;
   object-position: center bottom;
}

.solution__item p,
.solution__item span,
.solution__item div {
   font-family: "Raleway", sans-serif;
}

/* choose */
.choose {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.choose__title {
   text-align: center;
   letter-spacing: -1.08px;
   margin-left: 12px;
   margin-bottom: 40px;
}

.choose__items {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.choose__item {
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 -webkit-calc(25% - 18px);
   -ms-flex: 0 1 calc(25% - 18px);
   flex: 0 1 calc(25% - 18px);
   margin-right: 24px;
   margin-bottom: 24px;
   padding: 20px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: -o-linear-gradient(top, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#E4E5EA), color-stop(52.40%, #EFEFF4), to(#DDDFEA));
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
}

.choose__item:nth-child(4n+4) {
   margin-right: 0;
}

.choose__item img {
   width: 95px;
   height: 95px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   border: 2px solid #FFF;
   background: rgba(255, 255, 255, 0.40);
   -o-object-fit: contain;
   object-fit: contain;
   -o-object-position: center bottom;
   object-position: center bottom;
   margin-bottom: 32px;
}

.choose__item-title {
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   letter-spacing: -0.6px;
   margin-bottom: 15px;
}

.choose__item p,
.choose__item span,
.choose__item div {
   font-family: "Raleway", sans-serif;
}

/* reasons */
.section__reasons {
   padding: 50px 0 16px;
}

.reasons {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.reasons__title {
   margin-bottom: 30px;
   text-align: center;
}

.reasons__items {
   margin-top: 40px;
   display: none;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-left: 23px;
}

.reasons__items.active {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.reasons__item {
   -webkit-border-radius: 30px;
   border-radius: 30px;
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
   position: relative;
   padding: 30px;
   color: #fff;
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 282px;
   -ms-flex: 0 1 282px;
   flex: 0 1 282px;
   margin-right: 24px;
   margin-bottom: 24px;
}

.reasons__item::before {
   content: '';
   width: 56px;
   height: 56px;
   position: absolute;
   left: -12px;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background: url(../img/item-decor.svg) center center / 100% 100% no-repeat;
}

.reasons__item:nth-child(3n+1)::before {
   display: none;
}

.reasons__item picture {
   width: 67px;
   height: 67px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
   background: rgba(255, 255, 255, 0.45);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-bottom: 20px;
}

.reasons__item-num {
   position: absolute;
   right: 30px;
   top: 30px;
}

.reasons__item-title {
   margin-bottom: 10px;
}

.reasons__item p,
.reasons__item span,
.reasons__item div {
   font-family: "Raleway", sans-serif;
}

/* steps */
.steps {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   overflow: hidden;
}

.steps__title {
   font-size: 40px;
   margin-bottom: 74px;
}

.steps__items {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-bottom: -54px;
}

.steps__item {
   -webkit-box-flex: 0;
   -webkit-flex: 0 1 -webkit-calc(25% - 18px);
   -ms-flex: 0 1 calc(25% - 18px);
   flex: 0 1 calc(25% - 18px);
   margin-right: 24px;
   margin-bottom: 54px;
   position: relative;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   padding: 30px 18px 30px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background: -webkit-gradient(linear, left top, left bottom, from(#E4E5EA), color-stop(52.40%, #EFEFF4), to(#DDDFEA));
   background: -o-linear-gradient(top, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
}

.steps__item::before {
   content: '';
   width: 56px;
   height: 56px;
   position: absolute;
   left: -12px;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background: url(../img/item-decor.svg) center center / 100% 100% no-repeat;
}

.steps__item:nth-child(4n+4) {
   margin-right: 0;
}

.steps__item:nth-child(4n+1)::before {
   display: none;
}

.steps__item img {
   -webkit-border-radius: 30px;
   border-radius: 30px;
   background: rgba(255, 255, 255, 0.45);
   -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
   width: 189px;
   height: 189px;
   -o-object-fit: contain;
   object-fit: contain;
   -o-object-position: center bottom;
   object-position: center bottom;
   margin-bottom: 21px;
}

.steps__item-num {
   width: 89px;
   height: 45px;
   -webkit-border-radius: 5% 5% 0% 0% / 95% 95% 0% 0%;
   border-radius: 5% 5% 0% 0% / 95% 95% 0% 0%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   color: #fff;
   z-index: -1;
   left: 50%;
   font-size: 32px;
   -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
   position: absolute;
   text-shadow: 0px 4px 4px rgba(85, 129, 41, 0.55);
   font-weight: 500;
   line-height: 105%;
   font-family: "Acrom", sans-serif !important;
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   top: -32px;
}

.steps__item-title {
   background: -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 15px;
}

.steps__item p,
.steps__item span,
.steps__item div {
   font-family: "Raleway", sans-serif;
}

/* advant */
.advant {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   padding-bottom: 150px;
}

.advant__title {
   font-size: 40px;
   margin-bottom: 40px;
   text-align: center;
}

.advant__content {
   position: relative;
   max-width: 996px;
   width: 100%;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   padding: 50px 70px 97px 97px;
   background: url(../img/advant-bg.svg) bottom center / auto 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#8DCA50), to(#608E31));
   background: url(../img/advant-bg.svg) bottom center / auto 100% no-repeat, -o-linear-gradient(top, #8DCA50 0%, #608E31 100%);
   background: url(../img/advant-bg.svg) bottom center / auto 100% no-repeat, linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
}

.advant__items {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.advant__item {
   margin-right: 10px;
   margin-bottom: 35px;
   color: #fff;
   width: 100%;
   text-align: center;
}

.advant__item1 {
   max-width: 209px;
}

.advant__item2 {
   max-width: 324px;
}

.advant__item3 {
   max-width: 244px;
}

.advant__item-title {
   text-shadow: 0px 4px 4px rgba(85, 129, 41, 0.55);
   font-family: "Acrom", sans-serif !important;
   font-size: 46px !important;
   margin-bottom: 9px;
}

.advant__item-title span {
   font-family: "Acrom", sans-serif !important;
}

.advant__container {
   -webkit-border-radius: 15px;
   border-radius: 15px;
   background: -webkit-gradient(linear, left top, left bottom, from(#E4E5EA), color-stop(52.40%, #EFEFF4), to(#DDDFEA));
   background: -o-linear-gradient(top, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   position: absolute;
   bottom: 0px;
   left: 50%;
   -webkit-transform: translate(-50%, 45%);
   -ms-transform: translate(-50%, 45%);
   transform: translate(-50%, 45%);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   max-width: 414px;
   width: 100%;
   padding: 17px 10px 17px 20px;
}

.advant__container br {
   display: none;
}

.advant__container .btn {
   margin-right: 15px;
   padding: 25px 0px;
   min-width: 233px;
}

.advant__item p,
.advant__item span,
.advant__item div,
.advant__container {
   font-family: "Raleway", sans-serif;
   line-height: 1.1;
}

/* katalog */
.katalog {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.katalog__title {
   margin-bottom: 30px;
   text-align: center;
}

.katalog__swiper {
   margin-top: 40px;
   padding-bottom: 69px;
   max-width: 100%;
}

.katalog__item {
   padding: 20px 20px 30px;
   border-radius: 10px;
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
}

.katalog__item-img {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   width: 100%;
   background: #FFF;
   height: 186px;
   margin-bottom: 20px;
}

.katalog__item-type {
   position: absolute;
   left: 10px;
   top: 10px;
   color: #FFF;
   text-align: center;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   padding: 5px 7px;
   border-radius: 3px;
   line-height: 120%;
}

.katalog__item-type.ac {
   text-shadow: 0px 4px 4px rgba(85, 129, 41, 0.55);
   background: #8DCA50;
}

.katalog__item-type.dc {
   text-shadow: 0px 4px 4px rgba(172, 65, 65, 0.55);
   background: #CA5050;
}

.katalog__item-vt {
   position: absolute;
   right: 10px;
   top: 10px;
   padding: 5px 6px;
   border-radius: 3px;
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   color: #1B1B1B;
   text-align: center;
   text-shadow: 0px 4px 4px rgba(85, 85, 85, 0.35);
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 120%;
}

.katalog__item-title {
   min-height: 57px;
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 15px;
   font-weight: 500;
   text-align: center;
   font-family: "Raleway", sans-serif;
}

.katalog__item-content {
   padding: 10px;
   border-radius: 5px;
   width: 100%;
   background: #FFF;
   margin-bottom: 15px;
}

.katalog__item-items {
   margin-left: 10px;
   width: 100%;
}

.katalog__item-items p {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
}

.katalog__item-items p:last-child {
   margin-bottom: 0;
}

.katalog__item-price {
   text-align: center;
   margin-top: auto;
   margin-bottom: 15px;
}

.katalog__item .btn {
   min-width: 218px;
}

.swiper-prev {
   left: calc(50% - 75px);
   bottom: 0;
}

.swiper-next {
   bottom: 0;
   right: calc(50% - 75px);
}

/* footer */
footer {
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
}

.footer {
   padding: 35px 0;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   font-family: "Raleway", sans-serif;
}

.footer__list {
   margin: 0 auto;
   list-style: none;
}

.footer__list li {
   margin-right: 30px;
}

.footer__list li:last-child {
   margin-right: 0;
}

.footer .btn {
   min-width: 282px;
}

.footer__items {
   margin-top: 30px;
}

.footer__item {
   align-items: center;
   margin-right: 15px;
}

.footer__item:last-child {
   margin-right: 0;
}

.footer__item picture {
   max-width: 30px;
   min-width: 30px;
   width: 100%;
   height: 30px;
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}

.footer__links {
   margin-top: auto;
}

.footer__links a {
   color: #828282;
   text-align: center;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-decoration-line: underline;
   margin-right: 30px;
}

.footer__links a:last-child {
   margin-right: 0;
}

/* faq */
.section__faq {
   padding-bottom: 130px;
}

.faq {
   max-width: 787px;
   width: 100%;
   margin: 0 auto;
}

.faq__title {
   text-align: center;
   margin-bottom: 30px;
}

.faq__items {
   margin-top: 40px;
}

.faq__item {
   border-radius: 50px;
   margin-bottom: 20px;
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
}

.faq__item.active .faq__item-content {
   display: block;
}

.faq__item.active .faq__item-header::after {
   transform: rotate(180deg);
}

.faq__item-header {
   padding: 16px 30px;
   align-items: center;
   justify-content: space-between;
}

.faq__item-header::after {
   content: '';
   display: inline-flex;
   max-width: 32px;
   min-width: 32px;
   margin-left: 20px;
   width: 100%;
   border-radius: 50%;
   height: 32px;
   background: url(../img/arrow-down.svg) center center / auto no-repeat, linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
}

.faq__item-content {
   padding: 0 92px 30px 30px;
   display: none;
}

/* rating */
.rating__title {
   text-align: center;
   margin-bottom: 20px;
}

.rating__text {
   text-align: center;
}

.rating__items {
   margin: 40px -12px 6px;
   justify-content: center;
}

.rating__col {
   width: 33.3%;
   margin: 0 -12px;
   padding: 0 12px 24px;
}

.rating__item {
   padding: 30px;
   align-items: center;
   border-radius: 20px;
   background: linear-gradient(180deg, #E4E5EA 0%, #EFEFF4 52.40%, #DDDFEA 100%);
   width: 100%;
   height: 100%;
}

.rating__item picture {
   border-radius: 15px;
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.10);
   backdrop-filter: blur(2px);
   max-width: 90px;
   min-width: 90px;
   width: 100%;
   height: 90px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: 25px;
}

.rating__item2 picture {
   background: rgba(255, 255, 255, 0.45);
}

.rating__item-title {
   margin-left: 7px;
}

.rating__item-text {
   width: 100%;
   margin-top: 20px;
}

.rating__item-rate {
   align-items: center;
   width: calc(100% - 115px);
}

.rating__item-rate a {
   background: linear-gradient(180deg, #8DCA50 0%, #608E31 100%);
   margin-top: 8px;
   width: fit-content;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 120%;
   letter-spacing: 0.28px;
   border-bottom: 1px solid #608E31;
   text-transform: uppercase;
}

.rating .btn {
   min-width: 282px;
}